.link{
	display: block;
	margin-left: 20px;
	.home-item {
		margin-bottom: 20px;
		background: #fcfcfc;
		font-size: 16px;
		color: #666;
		display: flex;
		flex-direction: column;
		.home-item-icon{
			font-size: 16px;
			float: left;
			margin-left: 12px;
		} 
		.home-item-icon-sub {
			font-size: 14px;
			float: left;
			margin-left: 12px;
		}
		.home-item-content{
			margin-left: 35px;
			display: flex;
			.home-item-title {
				flex: 1 0 auto;
				width: 0;
				p {
					margin: 0 20% 0 0;
					white-space: nowrap;
					overflow: hidden;
					text-overflow: ellipsis;
				}
			}
			.home-item-time {
				flex: 0 0 auto;
			}
		}
		&:hover .home-item-icon {
			color: #609bd1;
		}
		&:hover .home-item-title {
			color: #609bd1;
		}
	}
	.home-comment-item{
		.comment-item-title {
			display: flex;
			.comment-name-icon {
				flex: 0 1 auto;
				font-size: 22px;
				margin-right: 5px;
			}
			.comment-name{
				flex: 1 1 auto;
				margin-left: 5px;
				white-space: nowrap;
				overflow: hidden;
				text-overflow: ellipsis;
			}
			.item-type {
				flex: 0 1 auto;
				color: #666;
				float: right;
			}
		}
		.message-userName{
			margin-left: 5px;
			vertical-align: middle;
		}
		.home-item-content {
			color: #666;
			margin-bottom: 10px;
		}
		.item-type {
			color: #666;
			float: right;
		}
	}
	.home-message-item{
		.message-item-title {
			display: flex;
			.message-name-icon {
				flex: 0 1 auto;
				font-size: 22px;
				margin-right: 5px;
			}
			.message-name {
				flex: 1 1 auto;
				margin-left: 5px;
				white-space: nowrap;
				overflow: hidden;
				text-overflow: ellipsis;
			}
		}
		.home-message-item-sub {
			margin: 20px 50px;
			background: #fafafa;
			.message-userName-sub, .home-item-content-sub {
				font-size: 14px;
				color: #999;
			}
			.home-item-content-sub {
				margin-left: 35px;
				.home-item-title-sub {
					vertical-align: middle;
					white-space: nowrap;
					overflow: hidden;
					text-overflow: ellipsis;
				}
			}
		}
		.message-userName{
			margin-left: 5px;
			vertical-align: middle;
		}
		.home-item-content {
			color: #666;
			margin-bottom: 10px;
		}
		.item-type {
			color: #666;
			float: right;
		}
	}
}