**/*.svg
**/*.ejs
**/*.html
package.json
.umi
.umi-production
.vscode

**/*.min.js
**/node_modules/**/*
**/dist/**/*
**/log/**/*
**/public/style/**/*

docs/**/*

# aeps-rc
**/aeps-rc/lib/**/*
**/aeps-rc/es/**/*
