.home-content {
	display: flex;
	flex-direction: row;
	&:before {
		content: "";
		position: absolute;
		top: 54px;
		left: 0;
		right: 0;
		height: 24px;
		background-image: linear-gradient(#fff, transparent);
		z-index: 99;
	}
}
.info-list {
	flex: 1 1 auto;
	width: 0;
	margin-right: 60px;
}
.info-cards {
	flex: 0 1 auto;
	width: 300px;
}