//core
@import '../core/base';

//login
.grid-wide {
  width: 1020px;
  margin: 0 auto;
}

.header {
  height: 100px;

  .logo {
    float: left;
    margin-top: 27px;
  }

  h1 {
    display: inline-block;
    padding-left: 13px;
    margin-top: 9px;
    margin-left: 5px;
    font-size: 16px;
    line-height: 20px;
    vertical-align: middle;
    border-left: 1px solid #ccc;
  }

  .login {
    float: right;
    margin-top: 75px;

    a:link,
    a:visited {
      color: #499fff;
    }
  }
}

.login-container {
  height: 600px;
  background: url(../../images/server/common/login_special.jpeg) top center no-repeat;
}

.login-box {
  float: right;
  width: 370px;
  padding-bottom: 15px;
  margin-top: 110px;
  background: #fff;
}

.login-box-hd {
  height: 64px;
  border-bottom: 1px solid #e5e5e5;
}

.login-tab {
  padding-top: 10px;

  li {
    float: left;
    width: 50%;
    padding: 0 47px;
    text-align: center;

    @include box-sizing(border-box);

    span {
      display: block;
      height: 53px;
      padding-bottom: 1px;
      font-size: 16px;
      line-height: 53px;
      color: #666;
      cursor: pointer;
    }

    &.cur {
      span {
        padding-bottom: 0;
        margin-bottom: -2px;
        color: $primaryColor;
        border-bottom: 2px solid $primaryColor;
      }
    }
  }
}

.login-box-bd {
  padding: 22px 45px 0;
}

.login-box-tit {
  font-size: 14px;
  line-height: 30px;
}

.input-wrap {
  margin-top: 12px;

  li {
    position: relative;
    margin-bottom: 20px;

    i {
      position: absolute;
      top: 6px;
      left: 12px;
      font-size: 20px;
      color: #ccc;
    }

    .icon-pwd-hide,
    .icon-pwd-show {
      right: 12px;
      left: auto;
      cursor: pointer;
    }

    label.error {
      display: inline-block;
      margin-top: 5px;
      color: #d9363c;
    }
  }

  .validate-item {
    position: relative;

    .valid-img {
      position: absolute;
      top: 6px;
      right: 5px;
      cursor: pointer;
    }
  }

  .login-inp {
    width: 280px;
    height: 40px;
    padding: 10px 10px 10px 40px;
    font-size: 14px;
    border: 1px solid #e5e5e5;

    @include box-sizing(border-box);
    @include border-radius(2px);

    &.error {
      border-color: #ff6060;
    }
  }
}

.login-ope {
  .login-btn {
    width: 280px;
    height: 40px;
    font-size: 16px;
    line-height: 40px;
    color: #fff;
    text-align: center;
    cursor: pointer;
    background-color: $primaryColor;
    border: none;

    @include border-radius(2px);
  }

  .btn-disabled {
    display: block;
    color: #999;
    cursor: default;
    background: #f0f0f0;
  }
}

.login-extra {
  margin-top: 10px;
  font-size: 12px;

  .forget-pwd {
    float: left;
    color: #666;
  }

  .go-reg {
    float: right;
    color: #499fff;
  }
}

.qrcode-wrap {
  padding: 50px 0 0;
  text-align: center;

  .qrcode {
    position: relative;
    width: 160px;
    height: 160px;
    padding: 6px 7px 7px 6px;
    margin: 0 auto;
    border: 1px solid #e5e5e5;

    @include box-sizing(border-box);
  }

  .qrcode-ope {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: none;
    margin: -1px;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.6);

    p {
      margin-top: 52px;
      font-size: 14px;
      line-height: 14px;
      color: #fff;
    }

    .qrcode-refresh {
      display: inline-block;
      width: 90px;
      height: 26px;
      margin-top: 26px;
      font-size: 14px;
      line-height: 26px;
      color: #fff;
      text-align: center;
      background-color: $primaryColor;

      @include border-radius(2px);
    }
  }

  .qrcode-ope-show {
    display: block;
  }

  .txt {
    margin-top: 20px;
    font-size: 14px;
    line-height: 14px;
    color: #333;
  }
}

.login-validate {
  position: relative;
  z-index: 10;
  padding: 6px 9px 6px 27px;
  margin-top: -30px;
  overflow: hidden;
  font-size: 12px;
  line-height: 16px;

  i {
    float: left;
    margin-left: -18px;
  }

  &.error {
    color: #ff6060;
    background: #fff1f0;
    border: 1px solid #ffc3c0;

    i {
      font-size: 14px;
      color: #ff6060;
    }
  }
}

.footer-wrap {
  border-top: 1px solid #e6e6e6;
}

.footer {
  padding: 20px 0;
  text-align: center;

  .v-sep {
    margin: 0 5px;
    color: #ced3d9;
  }

  span {
    color: #666;
  }

  .footer-copyright {
    padding: 5px 0 8px 0;
  }
}
