//core
@import '../core/base';
@import '../base/fonts';

//pager
html,
body {
  height: 100%;
}

body {
  background: #f9f9f9;
}

.header {
  width: 600px;
  height: 100px;
  margin: 0 auto;

  .logo {
    float: left;

    h1 {
      display: inline-block;
      padding-left: 15px;
      margin-top: 11px;
      margin-left: 10px;
      font-size: 20px;
      line-height: 19px;
      vertical-align: middle;
      border-left: 1px solid #ccc;
    }
  }

  .login {
    float: right;
    margin-top: 25px;
    font-size: 14px;

    span {
      padding: 0 15px;
      color: #999;
    }

    .login-btn:link,
    .login-btn:visited {
      color: #499fff;
    }
  }
}

.login-validate {
  position: relative;
  z-index: 10;
  width: 375px;
  padding: 6px 9px 6px 27px;
  margin-top: -30px;
  overflow: hidden;
  font-size: 12px;
  line-height: 16px;

  i {
    float: left;
    margin-left: -18px;
  }

  &.error {
    color: #ff6060;
    background: #fff1f0;
    border: 1px solid #ffc3c0;

    i {
      font-size: 14px;
      color: #ff6060;
    }
  }
}

.container {
  padding-top: 100px;
}

.main {
  width: 480px;
  margin: 0 auto;
}

.field {
  position: relative;
  padding: 15px 0 15px 70px;

  .field-hd {
    float: left;
    width: 70px;
    margin-left: -80px;
    font-size: 14px;
    line-height: 52px;
    color: #666;
    text-align: right;
  }

  .txt {
    width: 380px;
    height: 50px;
    padding: 0 9px;
    line-height: 50px;
    border: 1px solid #e5e5e5;
  }

  .valid-code {
    position: relative;
    float: left;
    width: 250px;
  }

  .send-code {
    width: 130px;
    margin-left: -1px;
    font-size: 14px;
    line-height: 50px;
    color: #333;
    cursor: pointer;
    background: #fff;
    border: 1px solid #e5e5e5;
  }

  .icon-check-circle-fill {
    color: #40be7f;
  }

  .required {
    color: #ff6060;
  }

  .btn-register {
    width: 400px;
    font-size: 16px;
    line-height: 52px;
    color: #fff;
    text-align: center;
    cursor: pointer;
    background: #2da66a;
    border: none;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
  }

  .btn-disabled {
    display: block;
    color: #999;
    cursor: default;
    background: #f0f0f0;
  }

  .instant {
    position: absolute;
    top: 14px;
    left: 412px;
    white-space: nowrap;

    .icon-close-circle-fill {
      position: inherit;
      display: inline-block;
      color: #ff6060;
      cursor: default;
    }
  }

  .iconfont {
    margin-right: 5px;
  }

  .form-error {
    color: #ff6060;
  }

  .form-succ {
    float: left;
    color: #40be7f;
  }

  input.error {
    border: 1px solid #ff6060;
  }

  label.error {
    color: #ff6060;
  }

  .agree {
    color: #666;

    .iconfont {
      cursor: pointer;
    }

    .icon-check-square-fill {
      color: #2da66a;
    }

    a:link,
    a:visited {
      color: #499fff;
    }
  }
}

.field-phone,
.field-pwd,
.field-valid-code {
  position: relative;

  .icon-close-circle-fill,
  .icon-pwd-hide,
  .icon-pwd-show {
    position: absolute;
    top: 15px;
    right: 15px;
    display: none;
    color: #999;
    cursor: pointer;
  }
}

.field-valid-code {
  .icon-close-circle-fill {
    right: auto;
    left: 245px;
  }
}

//password lv
.pwd-lv {
  display: inline-block;
  width: 100px;
  vertical-align: middle;
}

.pwd-lv-item {
  float: left;
  width: 29px;
  height: 4px;
  margin-right: 1px;
  border: 1px solid #40be7f;
}

.pwd-lv .on {
  background-color: #40be7f;
}

.pwd-lv p {
  clear: left;
}

.field-bd {
  position: relative;
}

.field-contact {
  .txt {
    width: 219px;
    padding-right: 75px;
  }

  .gender {
    position: absolute;
    top: 9px;
    left: 247px;
    z-index: 2;
    font-size: 14px;
    cursor: pointer;
  }

  .gender-bd {
    position: absolute;
    top: 31px;
    left: -15px;
    width: 72px;
    background: #fff;
    box-shadow: 0 2px 10px #e7e7e7;

    li {
      padding-left: 15px;
      line-height: 40px;

      &:hover {
        color: #52d271;
        background: #f2f2f2;
      }
    }
  }

  .instant {
    top: 8px;
    left: 315px;
  }
}

.field-id {
  .field-bd {
    padding-top: 10px;
  }

  li {
    float: left;
    margin-right: 20px;
    cursor: pointer;
  }

  .radio {
    position: relative;
    display: inline-block;
    width: 12px;
    height: 12px;
    margin-top: -3px;
    vertical-align: middle;
    border: 1px solid #e5e5e5;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
  }

  .on {
    border: 1px solid #40be7f;

    &::before {
      position: absolute;
      top: 3px;
      left: 3px;
      width: 6px;
      height: 6px;
      content: '';
      background: #40be7f;
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      border-radius: 50%;
    }
  }
}

.id-item {
  padding-top: 7px;
}

.field-agree {
  padding-top: 0;

  .instant {
    top: 14px;
    left: 505px;
  }
}

//valid code
.pop-valid-code {
  position: absolute;
  bottom: 60px;
  left: 225px;
  z-index: 9;
  display: none;
  width: 370px;
  padding: 20px;
  margin-left: -195px;
  background: #fff;
  border: 1px solid #e5e5e5;

  .pop-hd {
    position: relative;
    height: 14px;
    margin-bottom: 20px;

    h3 {
      float: left;
      font-size: 14px;
    }

    .refresh {
      float: right;
      color: #67afff;
      cursor: pointer;
    }

    .icon-close {
      position: absolute;
      top: -18px;
      right: -15px;
      cursor: pointer;
    }
  }

  .pop-bd {
    position: relative;
    min-height: 160px;
    margin-bottom: 20px;
    background: #f2f2f2;

    .block {
      position: absolute;
      top: 0;
      left: 0;
    }
  }

  .slider-container {
    position: relative;
    height: 40px;
    font-size: 14px;
    line-height: 40px;
    text-align: center;
    background: #f2f2f2;

    .slider-mask {
      position: absolute;
      top: 0;
      left: 0;
      height: 40px;
      background: #d1e9fe;
      border: 0 solid #1991fa;
    }

    .slider {
      position: absolute;
      top: 0;
      left: 0;
      width: 40px;
      height: 40px;
      cursor: pointer;
      background: #fff;
      box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
      transition: background 0.2s linear;
    }

    .slider-icon {
      position: absolute;
      top: 0;
      left: 0;
      width: 48px;
      height: 38px;
      line-height: 38px;
      color: #52d271;
      text-align: center;
      cursor: pointer;
      border: 1px solid #e5e5e5;
    }
  }
}

//footer
.footer-wrap {
  position: fixed;
  right: 0;
  bottom: 100px;
  left: 0;
  border-top: 1px solid #e6e6e6;
}

.footer {
  position: fixed;
  bottom: 0;
  left: 50%;
  padding: 20px 0;
  margin-left: -265px;
  text-align: center;

  .v-sep {
    margin: 0 5px;
    color: #ced3d9;
  }

  span {
    color: #666;
  }

  .footer-copyright {
    padding: 5px 0 8px 0;
  }
}

@media screen and (max-width: 1366px) {
  .container {
    padding-top: 15px;
  }

  .header {
    height: 75px;
  }

  .footer-wrap {
    position: static;
  }

  .footer {
    position: static;
    margin-left: 0;
    background: #f9f9f9;
  }
}
